.line {
  background-color: #e7e7e7;
  height: 1px;
  margin-bottom: 10px;
}

.col-md-9 {
  transition: 0.8s;
}

.img-fluid {
  border-radius: 6px;
}
.col-md-9:hover {
  transform: scale(0.96);
}

.mb-md-4 {
  color: #3a3636;
  font-size: 44px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.social {
  width: 32px;
  height: 32px;
}
#social1 {
  margin-right: 20px;
}

#social2 {
  margin-right: 20px;
}

#social3 {
  margin-right: 20px;
}

.carousel {
  width: 1300px;
  margin: 0 auto;
}

h3 {
  color: #6a0072;
}

h6 {
  color: #6a0072;
}

h7 {
  color: #6a0072;
  font-size: 1.5em;
}
